* {
    font-size: 1.1em;
}

form {
    margin: 25px auto;
    width: 800px;
}

.circle {
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
}

.pole {
    position: relative;
    display: inline-block;
}
.pole input {
    box-sizing: border-box;
    width: 250px;
    height: 50px;
    border: gray solid;
    padding-left: 5px;
    padding-right: 40px;
}
.pole.validate input:valid+label {
    display: block;
    position: absolute;
    background-image: url("../image/valid.png");
    background-size: contain;
    width: 25px;
    height: 25px;
    right: 15px;
    top: 50%;
    margin-top: -12px;
}.pole.validate input:invalid+label {
    display: block;
    position: absolute;
    background-image: url("../image/invalid.png");
    background-size: contain;
    background-position: 5px 0;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    right: 15px;
    top: 50%;
    margin-top: -12px;
}
.pole.validate input:valid {
    border: #41AD49 solid;
}
.pole.validate input:invalid {
    border: #E44162 solid;
}

.button {
    border: none;
    color: white;
    border-radius: 10px;
    background-color: #42AD4A;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.button:hover, .button.hover {
    background-color: #397B3E;
}

.button.danger {
    background-color: #E44162;
}

.button.danger:hover, .button.danger.hover {
    background-color: #972A40;
}

.button:disabled {
    background-color: #818181;
}

textarea {
    min-width: 600px;
    min-height: 100px;
}
input[type=radio]+label span {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: solid #42AD4A 1px;
    border-radius: 50%;
    background-color: white;
}
input[type=radio]:checked + label span:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #42AD4A;
    margin: 2px;
}
input[type=radio]{
    display: none;
}
.inline_block {
    display: inline-block;
}
.row {
    padding-bottom: 25px;
}

.checkbox {
    display: inline-block;
    margin-right: 15px;
}
.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}
.checkbox__text {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
}
.checkbox__text:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 5px;
    border: solid #E54062 1px;
    background: white;
    /*box-shadow: inset 0 2px 3px rgba(0,0,0,.2);*/
    transition: .2s;
}
.checkbox__text:after {
    content: '';
    position: absolute;
    top: 0;
    left: 4px;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    background: #E54062;
    /*box-shadow: 0 2px 5px rgba(0,0,0,.3);*/
    transition: .2s;
}
.checkbox input:checked + .checkbox__text:before {
    border: solid #41AD47 1px;
}
.checkbox input:checked + .checkbox__text:after {
    left: 26px;
    background: #41AD47;
}
.checkbox input:focus + .checkbox__text:before {
    /*box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255, 255, 0, 0.7);*/
}